html{
    width: 100%;
    height: 100%;
}

body{
    margin: 0;

    width: 100%;
    height: 100%;

    background: black;
}

.chat{
    display:flex;
    align-content: space-around;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;

    position: absolute;
    background-color: white;

    top: 0;
    right: 0;

    padding: 10px;
    padding-top: 0;
    padding-bottom: 0;

    width: 25vw;
    height: 100%;
}

.chatcontainer{
    display: flex;
    justify-content: space-between;

    width: 100%;
    height: 25px;
}

.chatcontent{
    background-color: rgb(243, 236, 236);
    width: 100%;
    height: 90%;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;

    width: 100%;

    color: white;

    font-family: 'Courier New', Courier, monospace;
    font-size: 2vw;
}

.atomname{
    font-weight: bold;
}

.atomdesc{
    text-decoration: overline;
}

.micstatus{
    font-weight: bold;
    color: red;
}

.inputchat{
    width: 80%;
    padding: 2px;

    background-color: rgb(201, 201, 201);
}
.sendchat{
    border-radius: 0;
}

.map{
    max-width: 500px;
    max-height: 500px;
}

.screen{
    display:flex;

    align-items: center;
    flex-direction: column;
    justify-content:center;
    flex-wrap: wrap;

    width: 100%;
    height: 100%;
}

.floorRow{
    width: 100%;
    height: 32px;

    text-align:center;
    word-break: keep-all;
}

.mob{
    position:absolute;
}

.atom{
    background-repeat: no-repeat;
    background-size: cover;
    width: 32px;
    height: 32px;
}

.item{
    position:absolute;
}

.turf{
    display: inline-block;
    word-break: keep-all;
}
